.back-button{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.score{
    text-align: center;
    font-size: 40px;
    font-weight: bold;  
    color: white;
    padding: 20px;
}

.team-local{
    text-align: center;
    color: white;
    padding: 20px;  
    
}

.team-visitor{
    text-align: center;
    color: white;
    padding: 20px;  
    
}

.incidents{
    margin-top: 20px;
    margin-left: 5px;
    text-align: center;
    font-size: 15px;  
    color: rgb(0, 0, 0);
    background-color: rgb(201, 201, 201);
    padding: 20px;
}

.submit-button{
    margin-top: 20px;
    margin-left: 5px;
    text-align: center;
    font-size: 15px;  
    padding: 20px;
}