ion-content {
    --background: 
      linear-gradient(rgba(68, 108, 241, 0.63), rgba(0, 0, 0, 0.63)), /* degradado de color */
      url('/assets/img/futbol_sala_fondo_horizontal.jpg') no-repeat center center; /* imagen de fondo */
    --background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    --background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
  }

  .d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100%; 
  }

  .log-in-button {
    width: 20%;

    @media (max-width: 768px) {
        width: 50%;
      }
  }

  .logo {
    display: block;
    margin-top: 0px;
    padding-top: 0px;
    max-width: 750px; /* Ajusta el tamaño según sea necesario */
    width: 100%; /* Para que la imagen se ajuste al tamaño máximo especificado */
    height: auto; /* Mantiene la proporción de la imagen */
  }

  .forgot-password-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .forgot-password-link a {
    color: whitesmoke;
    text-decoration: none;
  }
  
  .forgot-password-link a:hover {
    text-decoration: underline;
  }