<app-header title="Inicio">
</app-header>


<ion-content>
  <div class="button-grid">
    <ion-row>
      <ion-col size="4">
        <ion-button expand="block" class="grid-button" routerLink="/main/minutes">
          <ion-icon name="folder-open-outline"></ion-icon>
          <ion-text color="secondary">
            <strong>Actas</strong>
          </ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" class="grid-button"  routerLink="/main/new-minutes">
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-text color="secondary">
            <strong>Crear Acta</strong>
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>