.back-button{
    margin-top: 10px;
    margin-left: 10px;
}

.back-btn:hover{
    background-color: red;
}

.trash-btn{
background-color: red;
width: 50px;
}

.trash-icon{
    font-size: 25px;
    color: white;

}

.eyer-icon{
    background-color: blue;
    font-size: 20px;
    color: white;
}


  